<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Connect 4</title>

</head>
<body>
    <h1>Connect 4</h1>
    <% if @game.winner.present? %>
    <h2 id="winner">Player <%= @game.winner %> is the winner</h2>
  <% else %>
    <h2 id="winner"></h2>
  <% end %>
  
    <div id="board">
    <% @game.state.each_with_index do |row, r| %>
        <% row.each_with_index do |cell, c| %>
            <div id="<%= "#{r}-#{c}" %>" class=" tile <%= cell == 0 ? 'empty' : (cell == 1 ? 'red-piece' : 'yellow-piece') %> <%= @game.winner != nil ? 'disabled-click' : '' %>" onclick="callSetPiece(<%= @game.id %>, event)"></div>
        <% end %>
      <% end %>
    </div>
</body>
</html>